---
!!! 5
%html
  %head
    %title Pass-Fail.info
    %link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" rel="stylesheet")
  %body
    %p
      Pass-Fail is a hall of password validation shame.  The sites listed here
      impose needless restrictions on the security of passwords.  There's no
      user-facing reason to limit the length of a password, or the characters
      allowed.

    %a(href="http://ticketmaster.com/") Ticketmaster
    %dl
      %dt Maximum length:
      %dd 12 characters
    Source:
    %cite
      %a(href="https://twitter.com/mattrogish/status/269855724216127489") Twitter
